
<ion-searchbar placeholder="What kind of workout did you do?"></ion-searchbar>
<div>
  <!-- Search Bar -->
  <input
    type="text"
    [(ngModel)]="searchQuery"
    placeholder="Search workouts"
  />
  <button (click)="onSearch()">Search</button>
</div>

<!-- Show results only after a search -->
<div *ngIf="filteredWorkouts.length > 0">
  <h3>Search Results:</h3>
  <ul>



    <!--CHANGE THIS TO BE IF THE SEARCH IS HAPPEING, SEARCH THROUGH THE LIST TO FIND IT,,
    THE __WORKOUT__ IS THE LIST OF WORKOUTS IN A FOR LOOP(*ngFor)-->
    <li *ngFor="let workout of filteredWorkouts">{{ workout }}</li>



  </ul>
</div>

<!-- Message if no results are found -->
<p *ngIf="filteredWorkouts.length === 0 && searchQuery">No workouts found.</p>














<!-- IF ALL GOES WRONG: -->
<!-- <div *ngIf="filteredWorkouts.length; else noResults">
  <h3>Workouts:</h3>
  <ul>
    <li *ngFor="let workout of filteredWorkouts">{{ workout }}</li>
  </ul>
</div>

<ng-template #noResults>
  <p>No workouts found.</p>
</ng-template> -->


<!-- possibly implement: -->
<!-- <input
  type="text"
  [(ngModel)]="searchQuery"
  placeholder="Search workouts"
/>
<button (click)="onSearch()">Search</button> Call the onSearch method -->
