
<div>
  <!-- Search Bar -->
  <ion-searchbar
    [(ngModel)]="searchQuery"
    (ionInput)="onSearch()"
    placeholder="What kind of workout did you do?"
  ></ion-searchbar>
</div>

<!-- Show results only after a search -->
<div *ngIf="searchQuery && filteredWorkouts.length > 0">
  <ul>
    <li class="workoutList" *ngFor="let workout of filteredWorkouts" (click)="onSelectWorkout(workout)">
      {{ workout }}
    </li>
  </ul>
</div>

<!-- Message if no results are found -->
<p class= "no-workouts-found" *ngIf="filteredWorkouts.length === 0 && searchQuery">No workouts found.</p>
