
<ion-header>
  <ion-toolbar>
    <ion-title>Workout Logger</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <search-bar-workouts (workoutSelected)="onWorkoutSelected($event)"></search-bar-workouts>

  <app-logging-card
    *ngIf="selectedWorkout"
    [workoutName]="selectedWorkout"
  ></app-logging-card>
</ion-content>





<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Workout Logger</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <search-bar-workouts
    (workoutSelected)="onWorkoutSelected($event)"
    (searchQueryChange)="onSearchQueryChange($event)"
  ></search-bar-workouts>

  <app-logging-card
    *ngIf="isLoggingCardVisible"
    [workoutName]="selectedWorkout"
  ></app-logging-card>
</ion-content>  -->
