ion-app{
    background-color: #1B1725;
}

ion-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    --background: #1B1725;
}

h1{
    color:white;
    text-align: center;
}


h2, p{
    color: white;
}

ion-card-title{
    color: white;
}

ion-card{
    --background: #7BAAF7;
}

ion-item{
    --background: #7BAAF7;
}
// #534B62