<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Personalized Workout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Personalized Workout</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-label>Select Tags:</ion-label>
    <ion-chip
      *ngFor="let tag of tags"
      [color]="selectedTags.includes(tag) ? 'primary' : 'light'"
      (click)="toggleTag(tag)"
    >
      {{ tag }}
    </ion-chip>

    <ion-item>
      <ion-label position="floating">Or Enter Your Goals:</ion-label>
      <ion-input [(ngModel)]="searchQuery" placeholder="e.g., Build Muscle, Cardio"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="generateWorkout()">Generate Workout</ion-button>

    <ion-card *ngIf="workoutPlan">
      <ion-card-header>
        <ion-card-title>Your Workout Plan</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div *ngFor="let workout of workoutPlan">
          <h3>Goal: {{ workout.goals }}</h3>
          
          <h4>Daily Workouts:</h4>
          <ul>
            <li *ngFor="let day of workout.day_workouts_with_description[0]">
              {{ day }}
            </li>
          </ul>
        
          <h4>Important Considerations:</h4>
          <p>{{ workout.important_considerations }}</p>
        
          <hr />
        </div>               
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
