<!-- only pops up with loggin window when you click search HOKU can impleme this-->

<div class="ion-card-wrapper">



  <ion-card class = "ion-card">

    <ion-card-header>
      <ion-card-title>Searched workout</ion-card-title>
      <ion-card-subtitle>Weight: </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item class = "enter-reps">
        <ion-input class = "enter-reps-input" label="Enter reps: " placeholder="Enter number of reps"></ion-input>
      </ion-item>
      <ion-item class ="enter-new-weight">
        <ion-input label="Enter new weight: " placeholder="Enter weight in lbs"></ion-input>
      </ion-item>

      <ion-button>Enter new weight</ion-button>
      <!-- ifboth the feilds are not filled out then it should be the disabled one below-->
      <!-- <ion-button disabled="true">Disabled</ion-button> -->

    </ion-card-content>
  </ion-card>
</div>
